@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
@using (Html.BeginForm("Index","ReflectedXSS", FormMethod.Get))
{
    <h5>@Html.Raw( ViewBag.results)</h5>
        <h3>search here </h3><input type="text" name="txtsearch" />
        <input type="submit" value="search" />
        
  }
